/* 
 *  @author Mike Newell
 *  @company Goodby Silverstein & Partners
 *  © 2012
 */

/*******************************************************************************
                                    Zoomer
*******************************************************************************/

body {
    
}

img {
    border: none;
}

#zoomer {
    position: absolute;
    width: 621px;
    height: 412px;
    top: 0px;
    left: 0px;
    
}

.small-image {
    position: absolute;
    top: 0;
    left: 0;
}

.big-image {
    position: absolute;
    top: 0px;
    left: 0;
    width: 625px;
    height: 934px;
}

.big-window {
    position: absolute;  /* this breaks overflow: hidden in webkit (chrome/safari)*/ 
    opacity: 0;
    
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

    overflow: hidden;
    
    transition: opacity .4s;
    -moz-transition: opacity .4s;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
}

#mag {
    opacity: 0;
    width: 323px;
    position: absolute;
    top: 100px;
    
    transition: opacity .4s;
    -moz-transition: opacity  .4s;
    -webkit-transition: opacity  .4s;
    -o-transition: opacity  .4s;
   
    cursor: none;
    
    background: url(https://s3.amazonaws.com/GSP/frenemy/images/fuzz-sprite.png) scroll no-repeat transparent;
    background-position: 500px 500px;
}

/*******************************************************************************
                                    JSCROLLPANE
*******************************************************************************/

#zoomer {
    overflow: auto;
}

#zoomer-spacer {
    height: 934px;
}


/*******************************************************************************
                                    UTILITY
*******************************************************************************/

.hidden {
    display: none;
}

/*******************************************************************************
                                    ANIMATION
*******************************************************************************/

#mag.slide-in {
    transition: left .7s ease-in;
    -moz-transition: left .7s ease-in; 
    -webkit-transition: left .7s ease-in;
    -o-transition: left .7s ease-in;
}

#mag.fade-in {
    transition: opacity .7s ease-out;
    -moz-transition: opacity .7s ease-out; 
    -webkit-transition: opacity .7s ease-out;
    -o-transition: opacity .7s ease-out;
}
    
#mag.play-fuzz {
    animation: anim2 .1s step-end infinite;
    -webkit-animation: anim2 .1s step-end infinite;
    -moz-animation: anim2 .1s step-end infinite;
    -ms-animation: anim2 .1s step-end infinite;
}

    @keyframes anim2 {
        0% { background-position: 0px 0px; }
        50% { background-position: -323px 0px; }
    }

    @-webkit-keyframes anim2 {
        0% { background-position: 0px 0px; }
        50% { background-position: -323px 0px; }
    }

    @-moz-keyframes anim2 {
        0% { background-position: 0px 0px; }
        50% { background-position: -323px 0px; }
    }

    @-ms-keyframes anim2 {
        0% { background-position: 0px 0px; }
        50% { background-position: -323px 0px; }
    }